# Banco de Dados
DATABASE_URL="mongodb+srv://usuario:senha@cluster.mongodb.net/sua-database"

# Autenticação
JWT_SECRET="sua_chave_secreta_jwt"

# Configurações de E-mail (SMTP)
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="seu_usuario_smtp"
SMTP_PASS="sua_senha_smtp"
EMAIL_FROM="GP Finanças <noreply@gpfinancas.com>"
FRONTEND_URL="http://localhost:3000"